// foundations
// @use 'foundations/variables';
// @use 'foundations/functions';
// @use 'foundations/mixins';
@use 'foundations/normalize';

// elements
// @use 'elements/button';
// @use 'elements/input';

// components
// @use "components/nav";
// @use "components/item";

body {
  margin: 0 rem(20px);
  font-family: 'Inter', sans-serif;
  background-color: $sky-white;
  color: $lnk-darkest;
}