* {
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    background-color: $dark-100;
    color: $light-100;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: rem(40px) rem(20px);
}

.auth {
	min-height: 100vh;

	&__form {
		max-width: rem(500px);
		margin: 0 auto;
	}

	&__title {
		font-size: rem(32px);
		font-weight: 700;
		margin-bottom: rem(10px);
		text-align: center;
	}

	&__description {
		color: $light-200;
		margin-bottom: rem(80px);
		text-align: center;
	}

	&__fieldset {
		display: flex;
		flex-direction: column;
		gap: rem(20px);
	}

	&__link {
		display: block;
		text-decoration: none;
		color: $light-200;
		width: 100%;

		&.-end {
			text-align: right;
		}

		&.-center {
			text-align: center;
		}
	}

	&__submit {
		display: flex;
		flex-direction: column;
		gap: rem(20px);
		margin-top: rem(60px);
	}

}