.button {
    background: $primary-base;
    color: $sky-white;
    padding: rem(16px) rem(32px);
    border-radius: rem(48px);
    border: 1px solid $primary-base;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s;

    &.-outline {
        background: transparent;
        color: $primary-base;

        &:hover {
            color: $primary-dark;
            border-color: $primary-dark;
        }
    }

    &:hover {
        background: $primary-dark;
    }

    &.-outline {
        background: transparent;
        color: $primary-base;
        &:hover {
            color: $primary-dark;
            border-color: $primary-dark;
        }

        &.-disabled {
            background: transparent;
            border-color: $sky-dark;
        }
    }

    &.-disabled {
        background: $sky-light;
        border-color: $sky-dark;
        cursor: not-allowed;
    }

    &.-small {
        padding: rem(8px) rem(16px);
    }

    &.-full {
        width: 100%;
    }
}